/* försök inte ha så mycket i body om man inte ska skriva över det. */

/* Generellt utseende */
body {
    background-color: rgb(50, 50, 50);
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Format */
.root{
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #323232;
    box-shadow: 0 0 10px #0000001a;
}

/* Standard format för rubriker */
h1{
    font-size: 2.5rem;
    color: #ffffff;
}

h2{
    font-size: 2rem;
    color: #ffffff;
}

h3{
    font-size: 1.5rem;
    color: #ffffff;
}

/* Lägger till en blur i toppen av sidan */
.header-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    backdrop-filter: blur(2px); /* Apply blur effect */
    z-index: 1000; /* Make sure it stays on top */
    box-shadow: 0 2px 10px #0000001a; /* Optional shadow for effect */
    pointer-events: none;
}

/* Burgar meny */
#burger-menu{
    color: #ffe4c4;
    padding: 1rem;
    text-align: right;
    position: sticky;
    height: 10vh;
    top: 0;
}

#menu {
    display: none;
    list-style-type: none;
    text-decoration: none;
}
#menu-toggle:checked ~ #menu {
    display: block;
}

#menu-toggle {
    display: none;
}

/* Rubrik 1 */
.rub1{
    margin: 2rem;
    text-align: center;
}

#header-img {
    margin: 3rem;
    padding: 0 2 0 2;
    text-align: center;
    display: block;
}

#contact-header {
    font-style: italic;
    text-decoration: underline;
    text-align: left;
}

/* Meny med hover */
a{
    color: #ffe4c4;
}

a:hover {
    background-color: #D973AB;
    text-align: left;
}

.container{
    background-color: #000000;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin: 12px 0 0 12px;
}

.container img{
    width: 10%;
    height: 90%;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #272118;
    transition: all ease-in-out 0.5s;
}

.container img:hover{
    width: 25%;
    align-items: center;
}

/* Gridmeny med info */
.itemContainer{
    display: grid;
    height: 60%;
    width: 40%;
    margin: 0.5rem 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.items{
    background-color: #838383;
    display: grid;
}
@media only screen and (min-width: 750px) {
    .item1{
        grid-row: 1;
        grid-column: 1;
    }
    .item2{
        grid-row:1;
        grid-column:2 ;
    }
    
    .item3{
        grid-row:1 ;
        grid-column: 3;
    }
    
    .luft {
        grid-row: 2;
        grid-column: 1 / span 3;
    }
    
    .item4{
        grid-row:3 ;
        grid-column: 1;
    }
    
    .item5{
        grid-row:3 ;
        grid-column: 2;
    }
    
    .item6{
        grid-row: 3;
        grid-column: 3;
    } 
}

/* Vad är detta? */
/* 
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px #0000001a;
    padding: 20px;
    width: 300px;
}

.card-image {
    text-align: center;
    margin-bottom: 20px;
}

.card-image img {
    width: 200px;
    height: 200px;
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-details {
    font-size: 1em;
} */

.anstallda {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cirkel för Anställda med länker */
  .circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #000000;
      color: #fff;
      text-align: center;
      line-height: 200px;
      text-decoration: none;
      padding: 60px;
      margin: 60px;
    }
    
    /* Format och ändringar på individuella profilbilder */
    .circle#G{
        background-color: #00ff00;
    }
    .circle#R{
        background-color: #ff0000;
    }
    .circle#A{
        background-color: #e6e600;
    }
    .circle#K{
        background-color: #0000ff;
    }

    .circle:hover {
        background-color: #aaaaaa;
    }  

    .contactContainer {
        display: grid;
    }
    
    @media only screen and (min-width: 750px) {
        #issue{
            grid-row: 1;
            grid-column: 1;
        }
        #name{
            grid-row:1;
            grid-column:2 ;
        }
    
        #email{
        grid-row:1 ;
        grid-column: 3;
        }

        #message {
        grid-row: 2 / span 3;
        grid-column: 1 / span 2;
        }
}

.error{
    color: #ff0000;
}

.Välkomst-meddelande h1 {
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center; 
}

.punktlista {
    list-style-type: disc;
    padding-left: 20px; 
    align-self: flex-start; 
    margin-top: 0; 
}

.punktlista li {
    padding-left: 20px; 
    color: #fff; 
    font-size: 18px; 
    margin-bottom: 5px; 
}

#omOss h1 {
    font-size: 32px; 
    color: #fff; 
    margin-bottom: 20px; 
    text-align: center;
}

#omOss h2 {
    font-size: 24px; 
    color: #fff; 
    margin-top: 20px; 
    text-align: center;
}

#omOss p {
    font-size: 16px; 
    line-height: 1.5; 
    margin-bottom: 15px; 
    text-align: center;
}

