textarea {
    resize: none;
    width: 100%;
    height: 200px;
}

#contactFormSend {
    width: 56px;
    color: #00001a;
    text-align: center;
}

@media only screen and (min-width: 750px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
    
      textarea {
          resize: none;
          width: 800px;
          height: 200px;
      }

    .contactContainer {
        display: grid;
        height: 60%;
        width: 40%;
        align-content: center;
        margin: 0;
      }

    #issue {
        grid-row: 1;
        grid-column: 2;
    }

    .formName{
        grid-row: 1;
        grid-column: 1;
        width: 300px;
    }
    .formEmail{
        grid-row:1;
        grid-column:2 ;
        width: 300px;
    }

    .formPhone{
        grid-row:1 ;
        grid-column: 3;
        width: 200px;
    }

    .formMsg {
        grid-row: 2 / span 3;
        grid-column: 1 / span 2;
    }
}

a {
    text-decoration: none;
    width: 40;
}

.back {
    size: 3rem;
    color: #ada796;
    transition: all .7s ease-in-out;
    width: 60px;
    text-decoration: none;
}

.back:hover {
    transform: scale(1.13);
}