/* Generellt utseende */
body {
    display: flexbox;
    flex-direction: column;
    background-color: #323232;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Format */
.root{
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #323232;
    box-shadow: 0 0 10px #0000001a;
}

#pfp {
    width: 200px;
    height: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    scale: 120%;

}

@media (min-width: 600px) {
    body {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


.blink {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
    opacity: 0;
    }
    20% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
}

footer {
    overflow: hidden;
}
.gif-grid {
    display: flex;
    margin: 0 -20px;
    filter: brightness(0.5);
    filter: contrast(1.1);
}

.gif-wrapper {
    display: flex;
}
.xflip {
    transform: scaleX(-1) translate(20px);
    transform: rotateX(180deg);

}