/* Generellt utseende */
body {
    background-color: rgb(50, 50, 50);
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Format */
.root{
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #323232;
    box-shadow: 0 0 10px #0000001a;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-size: 1rem;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #00a2ff;
}

.banner{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#profilbild{
    border-radius: 10%;
}

summary{
    cursor: pointer;
}

.sections{
    color: green;
}

.map{
    color: red;
}

.overlay{
    background-color: red;
    pointer-events: none;
}
